.card-text {
    text-align: center;
}
/* 'sm': '640px', */
@media (min-width: 640px) { 
.card-text {
    text-align: center;
}
 }

/* 'md': '768px', */
@media (min-width: 768px) { 
    .card-text {
        text-align: center;
    }
 }

/* 'lg': '1024px', */
@media (min-width: 1024px) { 
    .card-text {
        text-align: left;
    }
 }

/* 'xl': '1280px', */
@media (min-width: 1280px) { 

}
