
.galleryWrapper {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18)
}

@media (min-width: 768px) { 
    .galleryWrapper{
        width: calc(50% - 15px) !important ;
    }
    .galleryWrapper:nth-child(odd){
        margin-right: 30px;
    }
}


@media (min-width: 1280px) { 
    .imgWrapper{
        width: 264px !important ;
    }
    .imgWrapper:nth-child(2n + 2){
        margin-right: 30px;
    }
    .imgWrapper:nth-child(2n + 4){
        margin-right: 0px;
    }
    .galleryWrapper{
        width: 362px !important;
    }
    .galleryWrapper:nth-child(odd){
        margin-right: 0px;
    }
    .galleryWrapper:not(:nth-child(3n)){
        margin-right: 30px !important;
    }
}


.galleryImg {
    background-size: cover; 
}

.imgDetailWrapper {
    background: transparent;
    transition: all 5s ease-in-out;
}

.imgDetailWrapper > .imgDetails {
    opacity: 0;
}

.imgDetailWrapper:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.376539) 62.31%, #000000 83.33%);
}

.imgDetailWrapper:hover > .imgDetails {
    opacity: 1;
}

.ril__toolbarRightSide {
    display: flex;
    width: 100%;
    align-items: center;
}

.ril__toolbarItem:nth-child(2) {
    flex-grow: 1;
}

@media (min-width: 1280px) { 
    .ril__toolbarRightSide {
        justify-content: flex-end;
    }
    .ril__toolbarItem:nth-child(2) {
        flex-grow: 0;
    }
}