html {
  overflow-x: hidden;
  width: 100% !important;
}

body {
  font-family: 'Raleway', sans-serif;
}



.white-txt {
  color: white !important;
}

/* a:hover {
  text-decoration: none !important;
  color: #f1c40f !important;
} */

.no-overflow {
  overflow: hidden !important;
}

.no-spaces-x {
  padding-right: 0px;
  padding-left: 0px;
}

.grey-color {
  background-color: #FAF9F9;
}

/* a {
  color: rgba(118, 110, 110, 0.45) !important;
} */

.capitalize {
  text-transform: uppercase;
}

.c-z-depth0in {
  z-index: 9999 !important;
}

.c-z-depth0 {
  z-index: 996 !important;
}

.c-z-depth1 {
  z-index: 9990 !important;
}

.c-z-depth2 {
  z-index: 8890 !important;
}

.active {
  color: rgba(118, 110, 110, 1) !important;
}

/* helpers  */
.move-up {
  margin-top: -1em;
}

.c-overflow {
  overflow: auto;
}

.btn-normal {
  border-radius: 8px;
  transition: color 150ms ease-in-out;
  cursor: pointer;
}

.btn-normal:hover {
  color: white;
  background-color: #124B88;
  transition: color 150ms ease-in-out;

}

/* helpers  */

/* special stuff */

.line-1 {
  /* position: relative;
  top: 50%;   */
  width: 20em;
  /* margin: 0 auto; */
  border-right: 2px solid #124B88;
  /* font-size: 180%; */
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */

/* 1 */
.anim-typewriter {
  animation: typewriter 4s steps(30) 1s 1 normal both,
    blinkTextCursor 500ms steps(30) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 15em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #124B88
  }

  to {
    border-right-color: transparent;
  }
}

/* 1 */
/* 3 */

.cover-arrow {
  position: absolute;
  left: 50%;
  bottom: -40px;
  background-image: url(../src/assets/arr.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 40px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-70px);
  }

  60% {
    transform: translateY(-45px);
  }
}

/* 3 */

/* 2 */



h1 {
  color: #f1c40f;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}

/* @media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
} */

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  /* border-radius: 0.6em; */
  cursor: pointer;
  display: flex;
  align-self: center;
  /* font-size: 1rem; */
  /* font-weight: 400; */
  /* line-height: 1; */
  /* margin: 20px; */
  /* padding: 1.2em 2.8em; */
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  /* font-family: "Montserrat", sans-serif; */
  /* font-weight: 700; */
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.fifth {
  border: 2px solid #124B88 !important;
  color: #124B88 !important;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Raleway !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: normal !important;
  font-size: 24px !important;
  letter-spacing: 0.03em !important;




  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}

.fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #124B88;
  z-index: -1;
  transition: width 150ms ease-in-out;
}

.fifth:hover {
  border: 2px solid #124B88 !important;
  color: white !important;
}

.fifth:hover:after {
  width: 110%;
}



/* 2 */





/* special stuff */










.Header {
  position: sticky;
  top: 0px !important;
  left: 0px;
}

.Cover {
  background-image: url(../src/assets/cover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* border-bottom: 4px solid #124B88; */
  position: relative;

}


.c-shadow-lg {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.14);
}

.them-btn {
  background-color: #27AE60 !important;
}

.btn-solid-primary:link,
.btn-solid-primary:visited,
.btn-solid-primary {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #FFFFFF;
  background: #124B88;
  border-radius: 4px;
}

.feedback-btn {
  position: fixed;
  bottom: 40px;
  transform: rotate(270deg);
  right:-35px;
}



.btn-solid-primary:hover,
.btn-solid-primary:active {
  color: #333333 !important;
  background: #EAC100;

}


a.btn-solid-primary {
  color: white !important;
  padding: 0.5em;
}

.btn-solid-primary-inv {
  border: 2px solid #124B88;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px !important;
  letter-spacing: 0.03em;

  color: #124B88;
}

.view-btn {
  position: absolute;
  left: -1%;
  top: 50%;
  width: 80%;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  letter-spacing: 0.03em;
  display: none;

  color: white;
  opacity: 0;
  transition: 900ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.img-expand {
  transform: scale(2);

}

.view-btn:hover {
  background-color: white;
  border: 2px solid white;

  color: rgba(0, 0, 0, 1);
  transition: 900ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #766E6E;
}



.c-p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: 0.03em;

  color: #676464;
}

.c-p2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #000000;
}

.c-card-a {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.03em;

  color: #0F117A;
}

.c-h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 20px;
  letter-spacing: 0.03em;

  color: #000000;
}

.c-h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  font-size: 20px;
  letter-spacing: 0.03em;

  color: #000000;
}

.c-h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  letter-spacing: 0.03em;

  color: #000000;
}

.c-h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 52px;
  letter-spacing: 0.03em;

  color: #64B663;
}

.jumbo-cap {
  margin-top: 10em;
  margin-left: 1.5em;
}

.card {
  padding: 2em 3em 1em 2em;
  height: 15.5em;
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-bottom: 1.5em !important;
}

.card-member {
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
  border: none;
}

.fit-img {
  object-fit: contain;
}

.card-mob {
  padding: 1.5em 3em 1em 2em;
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  margin-bottom: 2.5em;
}

.cardcol {
  padding: 1.5em 3em 1em 2em;
  height: 15.5em;
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px !important;
  display: inline-block;
  width: 96% !important;
  margin-bottom: 3em !important;
  border: none;
}

.cardcol:first-child() {
  padding: 1.5em 3em 1em 2em;
  height: 15.5em;
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px !important;
  display: inline-block;
  width: 96% !important;
  margin-bottom: 0em !important;
}

.cardcol:last-child() {
  padding: 1.5em 3em 1em 2em;
  height: 15.5em;
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px !important;
  display: inline-block;
  width: 96% !important;
  margin-bottom: 0em !important;
}

.cardcol:nth-child(2n) {
  padding: 1.5em 3em 1em 2em;
  height: 15.5em;
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
  border-radius: 8px !important;
  display: inline-block;
  width: 96% !important;
  /* background-color: red; */
  margin-bottom: 0em !important;
}

.card-circle {
  margin-right: 1.2em;
  padding: 0.3em;
  height: 7em;
  width: 7em;
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
  border-radius: 50%;
}

.Stories {
  background: #389168;
}

.Stories .c-h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #DDF516;
}

.Stories .story-card {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.59) 19.66%, rgba(0, 0, 0, 0) 100%), url(); */
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.43); */
  /* margin-left: 5em !important; */
  border-radius: 4px;
  position: relative;
}

.Stories .story-card .caption {
  position: absolute;
  bottom: 0px;
  left: 0px;

}

.Stories .story-card .shade {
  position: absolute;
  top: 0px;
  left: -2px;
  height: 98.5%;
  width: 96%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.59) 19.66%, rgba(0, 0, 0, 0) 100%);
  /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.43); */
  border-radius: 4px;
  opacity: 1;
  transition: 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.img-blog img {
  transition: 400ms ease-in;
}

.img-blog:hover img {
  transform: scale(1.03) !important;
  transition: 200ms ease-in;
}

.Stories .story-card:hover .shade {
  opacity: 0;
  transition: 1300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Stories .story-card:hover .caption {
  opacity: 1;
  transition: 1300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Stories .story-card:hover .view-btn {
  transition: 1400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 1;
  cursor: pointer;
}

.smltxt {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.2em;
  padding: 0.3em 0.3em;
  border: 2px solid #858585;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #858585;
}

.Stories .story-card .caption p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #FFFFFF;
  padding: 2em;

}

.footnav {}

.footnav li {
  padding: 0 2em;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #000000;
}

.partners li {
  padding: 0 1em;
}

.commit-tab {
  min-height: 50em;
  width: 105%;
  margin: 0 0 1em 0em;
  transition: 1300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: inline-block;
  overflow: hidden !important;
  padding: 2.5em 0 0 0;
  cursor: pointer;


}

.large-height {
  height: 40em !important;
}

.c-closed {
  width: 100%;
  max-height: 0 !important;
  transition: 1100ms cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden !important;

}

.card-columns {
  -moz-column-width: 28em !important;
  -webkit-column-width: 28em !important;
  -moz-column-gap: 1em !important;
  -webkit-column-gap: 1em !important;
  /* @include media-breakpoint-only(lg) { */
  /* column-count: 9; */

  /* } */
  /* @include media-breakpoint-only(xl) {
    column-count: 5;
  } */
}



/* about page */

.about-menu {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.04em;
  text-align: center;


}

.about-menu .menu-item {
  width: 50%;
  padding: 1em 0;

}

.about-menu .menu-item:first-child {
  width: 50%;
  padding: 1em 0;
}

.about-menu .menu-item:last-child {
  width: 50%;
  padding: 1em 0;
  margin-left: -1em;
  margin-top: 0.05em;
}

.c-ab-h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.03em;

  color: #64B663;
}

.c-ab-h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;

  color: #585858;
}

.c-ab-h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #000000;
}

.menu-item img {
  cursor: pointer;
}



/* / about page */
.c-card2 {
  background: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  /* height: 15.5em; */
  /* T-A Shadow */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
  margin-bottom: 1.5em;
  overflow: hidden;

}

.c-card3 {
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 2em;

}

.c-card4 {
  background: #FFFFFF;
  /* T-A Shadow */
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 2em;

}

.c-blog-h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;

  color: #000000;
}

.c-blog-h5 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.03em;

  color: #000000;
}

.main-blogpic {
  position: relative;
}

.absol {
  position: absolute;
  bottom: 100px;
  left: 0%;
  width: 100%;
}

.c-blog-details-h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 51px;
  letter-spacing: 0.03em;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


  text-align: center;
}

.c-blogdetails-h6 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.03em;

  color: #333333;
}

.c-blogdetails-h5 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #333333;
}





.downloadbtn {
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50px;
  vertical-align: middle !important;
  margin-top: 0.8em;


  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: black;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.downloadbtn:hover {
  border: 2px solid #f1c40f;
  box-sizing: border-box;
  border-radius: 50px;


  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.03em;

  background-color: #f1c40f;
  transition: color 450ms ease-in-out;
  cursor: pointer;
}

.downloadtext {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.03em;
  word-break: break-word;
  color: #333333;
  width: 60%;
}




.c-com-h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #64B663;
}

.commitmentbox {
  background: rgba(100, 182, 99, 0.07);
  border-radius: 8px;
  padding: 2em;
}

.commitmentbox:hover {
  background: rgba(234, 193, 0, 0.24);
}

.commitment {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #000000;
}

.sb-commitment {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #333333;
}

.auxbg {
  background-image: url(./assets/Bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position-y: -40%;
}

.twoformcont {
  width: 100%;
  /* border: 1px solid green; */
  overflow: hidden;
}

.twoform {
  width: 200%;
  /* border: 1px solid yellow; */
}

.twoformdetail:first-child {
  width: 50%;
  /* border: 1px solid yellow; */
}

.twoformdetail {
  width: 50%;
  /* border: 1px solid yellow; */
}

.transleft {
  /* transform: translateZ(32px); */
  transform: translateX(0px);
  transition: 450ms ease-in-out;



}

.transright {
  transform: translateX(-445px);
  /* transform: translateZ(32px); */
  transition: 450ms ease-in-out;



}


.c-comdeets-h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #000000;
}


.c-mile-h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #333333;
}

.c-mile-h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #64B663;
}

.c-mile-h3-bold {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #64B663;
}

.c-mile-li {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
  padding: 0.5em 0;

  color: #333333;
}

/* .com-list1 li{
    list-style-image: url(./assets/)
  } */


.cardhead-tab {
  background: #F2F2F2;
  border-radius: 16px 16px 0px 0px;
  cursor: pointer;
}

.cardhead-tab-active {
  background: #F2F2F2;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.cardhead-tab-active .c-mile-head {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.03em;

  color: #124B88;
}

.c-mile-head {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.03em;

  color: #000000;
}

.topborder-straight {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px
}

.c-mile-abouthead {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #000000;
}

.c-mile-aboutbody {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.03em;

  color: #333333;
}

.c-mile-subhead {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #c9c9c9;
}


.sticky-side {
  /* border: 1px solid red; */
  position: sticky;
  right: 10px !important;
  top: 100px !important;
}

.circle-btn {
  position: fixed;
  box-sizing: border-box;
  right: 4%;
  bottom: 35px;
  cursor: pointer;
  padding: 0em 0.5em;
  border-radius: 50%;
  background: #64B663;
  color: white;
  font-size: 36px;
  font-weight: bold;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  opacity: 0.3;
  transition: opacity 450ms ease-in-out;

}

.circle-btn:hover {

  opacity: 0.8;
  transition: opacity 350ms ease-in-out;

}

.collapse-imp {
  color: #0F117A;
  font-weight: bold;
  cursor: pointer;
  
}

.loginsub {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #000000;
}



.c-404bg {
  background-image: url(./assets/404.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 70vh;
  width: 100%;
  /* padding: 2em 0; */
}

.c-404txt {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #333333;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent !important;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.uploadbtn {
  appearance: none !important;
  -webkit-appearance: none !important;
  overflow: hidden;
  width: 60%;
}




@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media screen and (max-width: 600px) {}


.toaster {
  position: absolute;
  top: 110px;
  right: 40px;
  z-index: 9999;

}

.footer-container {
  background-color: #F2F2F2
}

/* // do not delete it is in 'use'  */

.status-container {
  height: 10px;
  width: 80%;
  /* Status bar bg Color */
  background: rgba(229, 229, 229, 0.36);
  /* Inner Shadow for status bar */
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  position: relative;
}

span.status {
  position: absolute;
  height: 10px;
  background: #27AE60;
  border-radius: 4px;
}

.an-status-container {
  height: 30px;
  width: 90%;
  /* Status bar bg Color */
  background: rgba(229, 229, 229, 0.36);
  /* Inner Shadow for status bar */
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}

.stats-txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #000000;
}

.cs {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: rgba(100, 182, 99, 0.7);
}

span.status-i {
  position: absolute;
  height: 30px;
  background: #2F80ED;
  border-radius: 20px;
}

span.status-c {
  position: absolute;
  height: 30px;
  background: #27AE60;
  border-radius: 20px;
}

span.status-n {
  position: absolute;
  height: 30px;
  background: #EB5757;
  border-radius: 20px;
}

.form-control {
  color: #333333 !important
}

.stats-card {
  background: #FFFFFF;
  border-radius: 8px;
}

.stats-card h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.03em;

  color: #000000;
}




.newWrapper {
  min-height: calc(100vh - 524px - 88px);
}






/* @-webkit-keyframes drope {
  0%   { opacity: 0; }
  30% { opacity: 1; transform: translateY(-4px) }
  100% { opacity: 1; transform: translateY(8px) }
}
@-moz-keyframes drope {
  0%   { opacity: 0; }
  30% { opacity: 1; transform: translateY(-4px) }
  100% { opacity: 1; transform: translateY(6px) }
}
@-o-keyframes drope {
  0%   { opacity: 0; }
  30% { opacity: 1; transform: translateY(-4px) }
  100% { opacity: 1; transform: translateY(6px) }
}
@keyframes drope {
  0%   { opacity: 0; }
  30% { opacity: 1; transform: translateY(-4px) }
  100% { opacity: 1; transform: translateY(6px) }
} */

/* On screens that are 600px or less, set the background color to olive */